
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  h1.special {text-align:center}
</style>

<head>

	<style>
      body {
        margin: 0px;
        padding: 0px;
      }
      
      #myCanvas {
        border: 1px solid #9C9898;
      }
      canvas { display:block; border:1px solid #aaa; margin:1em auto; background:#eee; }
    </style>


	<meta charset="utf-8">

<!--
    <script src="//maps.google.com/maps?file=api&amp;v=3&amp;sensor=false&amp;key=AIzaSyAHFGS76spQ8SVcsk2Rq3UAZH3RZqo80TE"
            type="text/javascript"></script>
!-->





	
	<title>Gesture Captcha Demo</title>

	<script src="../static/js/compatibility.js"></script>
	<script src="../static/js/smoother.js"></script>

	<script src="../static/js/objectdetect.js"></script>
	<script src="../static/js/objectdetect.frontalface.js"></script>

	<script src="../static/js/jquery-1.8.0.min.js"></script>
	<script src="../static/js/jquery.objectdetect.js"></script>

	<script src="../static/files/bootstrap.min.js"></script>
	
    <link rel="stylesheet" href="../static/files/bootstrap.css">
    <link rel="stylesheet" href="../static/files/bootstrap-responsive.min.css">
	
	<script>
	var smoother = new Smoother(0.5, [0, 0, 0, 0, 0]);
	
	var initial_heading=360;
	var initial_zoom=1;
	var initial_pitch=0;
	var myPano;
	var sv;

		jQuery.extend({
	insertArray: function(array, index, items, flattenIt){
		if ($.isArray(array)){
			array.splice(index,0,items);
			if(flattenIt) {return $.flattenArray(array);}
			return array;
		}
		return(array);
	}
});

	function initialize(){
		
	}


	$(window).load(function() {

		var video = $("#video").get(0);
		try {
			compatibility.getUserMedia({video: true}, function(stream) {
				try {
					video.src = compatibility.URL.createObjectURL(stream);
				} catch (error) {
					video.src = stream;
				}
				video.play();
				compatibility.requestAnimationFrame(tick);
			}, function (error) {
				alert("WebRTC not available");
			});
		} catch (error) {
			alert(error);
		}

		function tick() {
		   
			compatibility.requestAnimationFrame(tick);

			if (video.readyState === video.HAVE_ENOUGH_DATA) {
	
			

				$(video).objectdetect("all", {scaleMin: 3, scaleFactor: 1.1, classifier: objectdetect.frontalface}, function(coords) {
					if (coords[0]) {

						coords = smoother.smooth(coords[0]);
						video_ratio=document.getElementById('video').style.width;

						if(video_ratio.indexOf("px")!=-1){ //found pixel definition
							video_ratio.replace("px","");
							video_ratio=parseInt(video_ratio);
							video_ratio=video_ratio/video.videoWidth;
						}else{
							//don't specify percentages... this section still broken
							video_ratio.replace("%","");
							video_ratio=parseInt(video_ratio);
							video_ratio=video_ratio*screen.width/100;
							video_ratio=video_ratio/video.videoWidth;
						}


						var canvas = $("#canvas").get(0);


                                               ratio = 0.5;
                                               percentFromLeft = Math.abs(coords[0]/video.videoWidth - 1);
                                               percentFromTop = Math.abs(coords[1]/video.videoHeight);
                                               percentWidth = coords[2]/video.videoWidth;
                                               percentHeight = coords[3]/video.videoHeight;

                                               $("#glasses").css({
                                                       
                                                       "left":    ~~((percentFromLeft*$(canvas).width() - percentWidth*$(canvas).width() + $(canvas).offset().left)) + "px",
                                                       "top":     ~~((percentFromTop*$(canvas).height() + $(canvas).offset().top )) + "px",
                                                       "width":   ~~((coords[2])) + "px",
                                                       "height":  ~~((coords[3])) + "px",
                                                       "display": "block"                                                        
                                                       
                                               });

						setLock(coords);

					} else {
						$("#glasses").css("display", "none");
					}
				});
			} 
		}

		var lastDisp = 0

		function setLock(coords){
			x = coords[0] + coords[2]/2; // top left x + width/2
           y = coords[1] + coords[3]/2; // top left y + height/2
           zoom = coords[4];
           video_width=video.videoWidth;
           video_height=video.videoHeight;
           
           max_displacement = video_width - coords[2]; //max displacement from center in pixels, accounts for head size
           displacement = (x - video_width/2) / max_displacement * 100;


           //console.log( "x is: " + x + " y is: " + y + "coords: 0,1,2,3,4: " + coords[0] + " " + coords[1] + " " + coords[2] + " " + coords[3] + " " + coords[4]);
         	canvas2= $("#canvas").get(0);
                       canvas2.width = video_width;
                   canvas2.height = video_height;
                   context2 = canvas2.getContext('2d');
                   context2.translate(video_width,0);
                   context2.scale(-1,1);
                   canvas2.getContext('2d').drawImage(video, 0, 0, video_width, video_height);

           lastDisp = displacement
           setPos(displacement)


		}

		
		var dialCenter   = [150,150];
		var needleCenter = [ 13, 121.5 ];
		var dial = new Image, needle = new Image;
		
		var c = document.getElementsByTagName('canvas')[0];
		var ctx = c.getContext('2d');
		
		dial.src = '{{img}}';
		needle.src = 'static/needle.png';

		$(document).keyup(function(e){
			if (e.keyCode == 32){
				$.ajax({
	                url: "/generate",
	                type:"POST",
	                dataType:"json",
	                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'avg': lastDisp},
	                success: function( data ) {
	                    obj = data[0]

	                   //alert(obj.status)
	                    if(obj.status == "corr" || obj.left == 0){
	                    	window.location = obj.url
	                    }
	                    else{
							last60 = new Array()
							count = 0
							dial.src = obj.img;

							$('#goal').html(obj.ans)

		                   
		                	$('#triesLeft').html(obj.left)
		                	$('#incorrect').show();
		                	$('#incorrect').fadeOut(1000);
	                    }

						
	                },
	                 error:function (xhr, ajaxOptions, thrownError){
	                 	reqSent = false
	                    alert(thrownError);
	                }  

		        });
			}
		})

		function setPos(displacement){
		           
			

			ctx.save();
			ctx.clearRect( 0, 0, c.width, c.height );

			// Center the dial on the canvas.
			ctx.translate( c.width/2 , c.height/2 );
			ctx.drawImage( dial, -dialCenter[0], -dialCenter[1] );

			// Center the needle on the canvas.
			ctx.rotate( -1*displacement/100*Math.PI*2- 0.15 );
			ctx.drawImage( needle, -needleCenter[0]+1, -needleCenter[1] );

			ctx.restore();

		}



		function setMap(coords){
			x = coords[0] + coords[2]/2;
			y = coords[1] + coords[3]/2;
			zoom = coords[4];
			video_width=video.videoWidth;
			video_height=video.videoHeight;

			var vr_head = Math.atan( (x-(video_width/2)) / (video_width) ) * 180 / Math.PI + initial_heading;
			var vr_pitch = 1*Math.atan( (y - (video_height/2)) / (video_width) ) *180 / Math.PI + initial_pitch;
			var vr_zoom = initial_zoom;
			var x_inc = 3;
			var y_inc = .5;

			if(Math.abs(y - video_height)/video_height >.75 ){
				initial_pitch = Math.min((initial_pitch + y_inc), 90);
			}	
			else{
				if(Math.abs(y - video_height)/video_height <.25 ){
					initial_pitch = Math.max((initial_pitch - y_inc), -90);
				}
				else
				{
					if(Math.abs(x - video_width)/video_width >.75 ){
						initial_heading = (initial_heading - x_inc) % 360;
					}

					if(Math.abs(x - video_width)/video_width <.25 ){
						initial_heading = (initial_heading + x_inc) % 360;
					}

				}				
			}		

			myPano.setPov({
			    heading: vr_head,
			    zoom:vr_zoom,
			    pitch:vr_pitch
			});

		}

		

	});


	function fullScreen(){
		document.getElementById('pano').style.width = "100%";
		document.getElementById('pano').style.height = "100%";
 		google.maps.event.trigger(myPano, 'resize');
	}

	function smallScreen(){
		document.getElementById('pano').style.width = "500px";
		document.getElementById('pano').style.height = "300px";
 		google.maps.event.trigger(myPano, 'resize');
 		document.getElementById('video').onchange;
	}

	



    </script>



</head>


<body onload="initialize();" onunload="GUnload()">
	<div name="pano" id="pano" style="z-index:-1; position: absolute; width: 100%; height: 100%"></div>

 	<div id="main">
    	<div id="tray" class="topbar" style="width: auto;">
        	<div class="fill">
            	<div class="container">
                 	<a class="brand" href="captchacaptcha.tk"><img src="../static/files/logo.png"></a>  
                  </div>
            </div>
        </div>

      <br>
 	
 	<div id="container-fluid">

		<div id="row-fluid">
		  	
		  	<div id="span12">
		  		<h1 class="special">Try to find <span style="color:red" id="goal">{{ans}}</span></h1>
		  		<h3 class="special" align="center">You have <span style="color:red" id="triesLeft">3</span> tries left</h3>
		  	</div>
		 </div>

		 <hr>
		 <span class="label label-info special offset4">Instructions:</span> Move your head to the left or right to move the needle to the RIGHT and LEFT respectively.
		 <span id="incorrect" class="label label-warning special offset5" style="display: none">Incorrect input. Please try again.</span>
		 <span id="correct" class="label label-success special offset5" style="display: none">Correct input. Good job.</span>

		 <hr>
		 <div id="row-fluid">
		 	<div id="span12">
			 	<span id="span6">
			 		<canvas id="myCanvas" style="margin-left: 5%;" width="578" height="500"></canvas>
			 	</span>

			  	<span id ="span6">
					<video id="video" style="width:578px; margin-right: 5%; display:none" class="pull-right" height="500 "></video>
					<canvas id="canvas" style='height:500px' ></canvas>
				</span>	 
			</div>
		</div>

		<hr>

		<div id="row-fluid">
		
			<img id="glasses" src="http://dl.dropbox.com/u/110033260/batman.jpg" style="position:absolute; display:none">

		</div>

</body>
</html>